$body-bg-color:#D7D8F1;
$chat-bg-color:white;
$contact-side-bg-color: #3B3E99;
$triangle-color:#C2C3DF;
$contact-pic-bg-color:white;
$contact-username-fcolor: white;
$contact-time-fcolor: white;
$contact-time-bg-color:#22258e;;
$time-font:Arial, Helvetica, sans-serif;
$message-font: Arial, Helvetica, sans-serif;
$username-font: Arial, Helvetica, sans-serif;
$message-fcolor: white;
$message-search-bg-color: #EDEDFA;
$message-time-fcolor: grey;
$textarea-bg-color: #EDEDFA;
$hover-contact-color: #e56ecf;
$time-bg-color: white;
$outcome-message-fcolor:white;
$outcome-message-bgcolor:#989AD7;
$income-message-fcolor:#3B3B3C;
$income-message-bgcolor: #F1F1FB;