@import "_vars";

[type=submit]{
    font-family: $form-font-family;
    font-weight: $form-font-weight;
    width: 50%;
}
.m-tab{
    height: 20%;
    width: 100%;
    background-color: $tab-bg-color;
    border-radius: $tab-border-radies;
    border-bottom:$tab-border-bottom;
    font-family: $tab-font-family;
}

.m-content-sign{
    width: 100%;
    height: 80%;
}