$body-bg-color:#989AD7;
$body-fonts: "Arial Black", Gadget, sans-serif; 
$body-font-weight:bold;
$body-fonts-colors: #E2E2EF;
$body-fonts-textshadow: 2px 1px black;

$nav-box-shadows: 0px 0px 12px white;
$nav-border-radius: 12px;


$form-font-weight: bold;
$form-font-family: Arial, Helvetica, sans-serif;

$tab-bg-color: #3B3E99;
$tab-border-radies: 12px 12px 0 0;
$tab-border-bottom:  1px solid white;
$tab-font-family: Arial, Helvetica, sans-serif;